.speaker-bubble {
	flex-grow: 1;
	border: 3px solid rgb(51, 255, 51);
	max-height: fit-content;
	padding: 1rem;
	background-color: #13141c;
	align-self: center;
}

.dialogue {
	background-color: inherit;
	margin: 0;
}

.dialogue-next {
	font-family: "Jersey 10", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2rem;
	color: #33ff33;
	background-color: #13141c;
	margin: auto;
	justify-self: flex-end;
	float: right;
	border: 3px solid #33ff33;
	/* box-shadow: 2px 2px 2px #33ff33; */
	transition: background-color 1s ease-out;
}

.dialogue-next:hover {
	/* background-color: #33ff33; */
	background-color: #313448;
}

.dialogue-next:disabled {
	color: #303030;
	background-color: #13141c;
	border: 3px solid #313448;
}

@media screen and (width > 650px) {
	.speaker-bubble {
		width: 70%;
		margin: 0 1rem 0 1rem;
	}
}

@media screen and (width <= 650px) and (orientation: portrait) {
	.speaker-bubble {
		width: 70vw;
		margin: 0 1rem 0 1rem;
	}
	.dialogue,
	.dialogue-next {
		font-size: 1.5rem;
	}
}
