.portal {
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-self: center;
	min-width: 0;
}

@media screen and (width > 650px) {
	.portal {
		width: 90vw;
		max-width: 1000px;
		/* height: 70vh; */
		max-height: 50vh;
		border: 3px solid rgb(51, 255, 51);
		border-top: none;
		padding: 1rem;
	}
}

@media screen and (width <= 650px) and (orientation: portrait) {
	.portal {
		row-gap: 1rem;
		width: 100%;
		height: 100%;
		z-index: 0;
		padding: 0;
		margin: auto;
		border: 0;
		overflow: hidden;
		object-fit: scale-down;
		padding: 1rem;
	}
}
