@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

/* defaults n resets */
.jersey-10-regular {
	font-family: "Jersey 10", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2rem;
}

* {
	font-family: "Jersey 10", Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	box-sizing: border-box;
	color-scheme: light dark;
	color: #33ff33;
	background-color: transparent;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: auto;
	background-color: #13141c;
	color: #33ff33;
}

/* text */

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

h2 {
	font-family: "Jersey 10", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2.5rem;
	margin: auto;
	background-color: inherit;
	color: inherit;
}

h3,
h4 {
	font-family: "Jersey 10", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.5rem;
	margin: auto;
	background-color: inherit;
	color: inherit;
}

.dialogue {
	background-color: inherit;
	margin: 0;
}

.dialogue-next {
	font-family: "Jersey 10", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2rem;
	color: #33ff33;
	background-color: #13141c;
	margin: auto;
	justify-self: flex-end;
	float: right;
	border: 3px solid #33ff33;
	/* box-shadow: 2px 2px 2px #33ff33; */
	transition: background-color 1s ease-out;
}

.dialogue-next:hover {
	/* background-color: #33ff33; */
	background-color: #313448;
}

.dialogue-next:disabled {
	color: #303030;
	background-color: #13141c;
	border: 3px solid #313448;
}
/* main content */
main {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;
	align-content: center;
	height: 100%;
	width: 100%;
	position: absolute;
}

.portal {
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-self: center;
	min-width: 0;
}

.speaker-bubble {
	flex-grow: 1;
	border: 3px solid rgb(51, 255, 51);
	max-height: fit-content;
	padding: 1rem;
	background-color: #13141c;
	align-self: center;
}

.alt-dialogue {
	display: flex;
	flex-direction: row;
}

span {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin: 0;
	background-color: inherit;
	color: inherit;
}

.tooltiptext {
	font-size: 1.25rem;
	width: auto;
}

.options-bar {
	display: flex;
	flex-direction: row;
	background-color: #13141c;
	color: #f3f3f3;
}

.links-group {
	display: flex;
	flex-direction: row;
	margin: auto;
	text-align: center;
	justify-content: space-evenly;
	background-color: transparent;
	color: #13141c;
	width: 100%;
	z-index: 1;
	grid-row: 2;
	position: relative;
	top: -20%;
}

.icon {
	background-color: #13141c;
	margin: 0;
	display: block;
	border: 3px solid rgb(51, 255, 51);
	padding: 0.5rem;
	transition: background-color 1s ease-out;
}

.cr-link {
	width: 200px;
}

.cr-badges {
	width: 100%;
	height: auto;
	object-fit: scale-down;
	border: 3px solid #33ff33;
	padding: 5px;
	/* Safari 6.0 - 9.0 */
	transition: filter 1s ease-out;
}

.cr-badges:hover {
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
	filter: grayscale(0%);
}

.icon:hover {
	background-color: #313448;
}

​ .icon:active {
	background-color: #313448;
}
.external-nav,
.nav {
	background-color: rgb(51, 255, 51);
	color: #13141c;
	transition: background-color 1s ease-out;
}

.nav:hover,
.external-nav:hover {
	background-color: #313448;
}

.nav:active,
.external-nav:active {
	background-color: #13141c;
}

.content-display {
	display: grid;
	grid-template-rows: repeat(2, minmax(10px, 1fr));
	height: 100%;
	width: 100%;
	justify-items: space-between;
	align-items: center;
	padding-bottom: 0.5rem;
	overflow: auto;
	object-fit: scale-down;
	background-color: transparent;
}

.duo {
	display: flex;
	flex-direction: row-reverse;
	background-color: transparent;
	justify-content: flex-end;
	object-fit: scale-down;
	overflow: auto;
	padding-bottom: 0.5rem;
	flex-grow: 1;
	min-width: 0;
	gap: 1em;
	height: inherit;
}

.trio {
	display: flex;
	flex-direction: row;
	background-color: transparent;
	justify-content: flex-start;
	object-fit: scale-down;
	height: 80%;
}

.sprite {
	margin: 0;
	object-fit: scale-down;
	height: 100%;
	grid-row: 1;
	place-self: center;
	padding: 0.5rem;
	z-index: 5;
}

.sprite-alt {
	margin: 0;
	object-fit: scale-down;
	position: relative;
	z-index: 5;
	place-self: center start;
	max-width: 25%;
}

#talking-head {
	max-width: 15%;
}

.aside {
	background-color: #13141c;
	border: 3px solid rgb(51, 255, 51);
	padding: 1rem;
	overflow-y: scroll;
	height: 100%;
	margin: 0.5rem;
	grid-row: 1 / span 2;
	place-self: stretch;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

.info {
	background-color: #13141c;
	border: 3px solid rgb(51, 255, 51);
	padding: 1rem;
	overflow-y: scroll;
	min-width: fit-content;
	margin: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	z-index: 5;
	scrollbar-color: #33ff33 #13141c;
}
.char {
	margin: 0;
	object-fit: scale-down;
	min-height: 0;
	max-width: 30%;
	padding: 0.5rem;
	z-index: 0;
	flex-grow: 1;
	display: inline-block;
}

.proj-card {
	background-color: #13141c;
	padding: 1rem;
	border: 3px solid rgb(51, 255, 51);
}

a {
	transition: all 1s ease-in-out;
}
.nav,
.external-nav:hover {
	background-color: #13141c;
	color: #33ff33;
}

@media screen and (width <= 650px) and (orientation: portrait) {
	.portal {
		row-gap: 1rem;
		width: 100%;
		height: 100%;
		z-index: 0;
		padding: 0;
		margin: auto;
		border: 0;
		overflow: hidden;
		object-fit: scale-down;
		padding: 1rem;
	}

	.options-bar {
		text-align: left;
		align-content: flex-start;
		gap: 1em;
		padding: 1rem;
		width: 100%;
		z-index: 1;
		border-bottom: 5px solid rgb(51, 255, 51);
	}

	.speaker-bubble {
		width: 70vw;
		margin: 0 1rem 0 1rem;
	}

	.dialogue,
	.dialogue-next {
		font-size: 1.5rem;
	}
	.trio {
		flex-direction: column;
	}

	.icon {
		height: 4rem;
	}
}

@media screen and (width > 650px) {
	.portal {
		width: 90vw;
		max-width: 1000px;
		/* height: 70vh; */
		max-height: 50vh;
		border: 3px solid rgb(51, 255, 51);
		border-top: none;
		padding: 1rem;
	}

	.speaker-bubble {
		width: 70%;
		margin: 0 1rem 0 1rem;
	}

	.options-bar {
		width: 90vw;
		max-width: 1000px;
		margin-bottom: 0;
		justify-content: start;
		gap: 1em;
		padding: 1rem;
		border: 3px solid rgb(51, 255, 51);
	}

	.tooltip {
		position: relative;
		display: inline-block;
		transition: all 0.5s ease-out;
	}

	.tooltip .tooltiptext {
		visibility: hidden;
		min-width: 120px;
		background-color: #13141c;
		color: #33ff33;
		padding: 5px 0;
		border: 3px solid rgb(51, 255, 51);
		box-shadow: 2px 2px 2px #13141c;
		position: absolute;
		top: 90%;
		left: 50%;
		z-index: 1;
		opacity: 0;
		transition: opacity 0.3s;
	}

	.tooltip:hover .tooltiptext {
		visibility: visible;
		opacity: 1;
	}
}
